body {
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
}

.container {
  padding: 70px;
  background-color: #fafafa;
  margin-top: 0px;
}

.center {
  text-align: center;
}

.headshot {
  border: 2px solid	#D3D3D3;
  display: inline-block;
  width: 150px;
}

div.center p {
  display: inline-block;
  width: 700px;
}

h1 {
  background-color: #26466D;
  font-weight: lighter;
  color: white;
  text-align: center;
  height: 150px;
  font-size: 60px;
  line-height: 2.5em;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

h2 {
  font-weight:100;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  color: #26466D;
}

h3 {
  font-weight: 300;
  margin-bottom: 20px;
}

.space-above {
  margin-top: 90px;
}

.content {
  padding: 20px;
  background-color: #F2F2F2;
  padding-bottom: 40px;
}

@media screen and (max-width: 700px) {
  div.center p {
    width: 250px;
  }
  h1 {
    font-size: 30px;
    line-height: 5em;
  }
  .content {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px){
  div.center p {
    width: 400px;
  }
  h1 {
    font-size: 50px;
    line-height: 3em;
  }
  .content {
    margin-bottom: 25px;
  }
}
