body {
  background-color: white;
}

.container {
  padding: 50px;
  background-color: #F0F0F0;
  margin-top: 0px;
}

.about {
  text-align: center;
}

img {
  border: 2px solid	#D3D3D3;
  display: inline-block;
  width: 150px;
}

div.about p {
  display: inline-block;
  width: 700px;
}

.sample {
  margin: 10px;
}

h1 {
  background-color: #26466D;
  font-weight: lighter;
  color: white;
  text-align: center;
  height: 150px;
  font-size: 60px;
  line-height: 2.5em;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

h2 {
  font-weight:100;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  color: #26466D;
}

.space-above {
  margin-top: 90px;
}

.sample {
  margin 5px;
}
